*{
    margin: 0;
    padding: 0;
}

div{
    margin: auto;
    display: flex;
    flex-direction:column;
    background-color: #2ea2aa;
    color: rgb(70, 69, 69);
    width: 400px;
    height: 250px;
    margin-top: 50px;
    box-shadow: 3px 2px 6px #1b6469;
}

div #formulario{
    text-align: center;
    margin-top: 10%;
}
button{
    margin-top: 5px;
    padding: 2px;
    border-radius: 4px;
}