*{
    margin: 0;
    padding: 0;
    text-align: center;
}


#container{
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 216, 216);
    margin: 20%;
    padding: 15px;
    box-shadow: 0px 3px 6px rgb(180, 189, 189);

h1{
    font-size: 1.5em;
    color: rgb(136, 141, 141);
}
    
    
}#div1{
    flex: auto;
    padding-top: 2%;
    color: rgb(97, 100, 100);
}
#div2{
    flex: auto;
    color: rgb(97, 100, 100);
}

